<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h5>Please enter your user name and password</h5>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="mb-3">
                        <mat-form-field class="mat-form-field-container">
                            <mat-label>User name</mat-label>
                            <input matInput required formControlName="userName" type="text" id="inputUserName">
                        </mat-form-field>
                    </div>
                    <div class="mb-3">
                        <mat-form-field class="mat-form-field-container">
                            <mat-label>Password</mat-label>
                            <input matInput required formControlName="password" type="text" id="inputPassword">
                        </mat-form-field>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                <a routerLink="/signup">New user? Sign up now!</a>
            </div>
        </div>
    </div>
</div>