<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h6>Please enter your user name and password</h6>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="mb-3">
                        <label for="inputUserName" class="form-label">User Name</label>
                        <input formControlName="userName" type="text" class="form-control" id="inputUserName">
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword" class="form-label">Password</label>
                        <input formControlName="password" type="text" class="form-control" id="inputPassword">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                <a routerLink="/signup">New user? Sign up now!</a>
            </div>
        </div>
    </div>
</div>